@import 'confirg-scss/reset.scss';
@import 'confirg-scss/variables.scss';
@import 'confirg-scss/rem-calc.scss';

html{
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
}

main{
  width: rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;
}



